{# Default/index.html.twig #}

{% extends "BibliLivresBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    <div name="default/index.html.twig" class="content">
  Bienvenue sur Livres !!
 
  (Contenu par defaut de Livres !!!)
  
    </div>
{% endblock %}


