<h3>Création d Article</h3>

<div class="well">
<form action="{{ path('article_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary">Cr&eacute;er un article</button>
    </p>
</form>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('article_index') }}">
            Back to the list
        </a>
    </li>
</ul>
